<section class="w-100">
    <div class="container">
    <div class="post-list row">
{{#each PKMN as |PKMN|}}
{{!-- {{log movie}} --}}
      {{> user-card review}}
    {{/each}}
        </div>
    </div>
</section>